<% provide(:title, 'About') %>

<div class="page-header">
	<h1>About</h1>
</div>

<p>
  The <%= link_to 'UvA Courses', root_path %> Webapp is a project allowing students of the <a href="http://www.uva.nl">University of Amsterdam</a> to shop for courses they want to take at the university.
</p>