<% provide(:title, 'Contact') %>

<div class="page-header">
	<h1>Contact</h1>
</div>

<table class="table">
	<tr>
		<td>name</td><td>Jaap Wijnen</td>
	</tr>
	<tr>
		<td>Email</td><td>student@uva.nl</td>
	</tr>
	<tr>
		<td>Phone</td><td>012345678</td>
	</tr>
	<tr>
		<td>Location</td><td>Amsterdam, the Netherlands</td>
	</tr>
</table>