<%= form_tag({:controller => 'lists', 
							:action => 'create', 
							listtype: 'shopping_cart_items'}, 
							method: 'post') do %>
  <div><%= hidden_field_tag :id, params[:id] %></div>

  <%= button_tag(name: nil, class: 'btn btn-primary') do %>
  	<span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
  <% end %>
<% end %>