<% provide(:title, @institute.name) %>

<div class="page-header">
	<h1>Institute: <%= @institute.name %></h1>
</div>

<h3>Courses given at institute: <%= @institute.name %>:</h3>

<%= render 'search_form' %>