<% provide(:title, 'All courses') %>

<div class="page-header">
	<h1>All <%= params[:type] %></h1>
</div>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul>
  <% @browse_courses.each do |display| %>
    <li>
      <%= link_to display.name, controller: 'browse_courses', action: 'show', id: display.id, type: params[:type] %>
    </li>
  <% end %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>