<div class="container">	
	Lijst met vakken laatst 10 bekeken vakken
	<ul>
		<li>vak1</li>
		<li>vak2</li>
		<li>vak3</li>
		<li>vak4</li>
		<li>vak5</li>
		<li>vak6</li>
		<li>vak7</li>
		<li>vak8</li>
		<li>vak9</li>
		<li>vak10</li>
	</ul>
</div>