<div class="container">	
	<ul>
		<% @user ||= current_user %>
		<% @user.list_items.where(list_type: ListItem.recently_viewed).each do |item| %>
			<li><%= link_to item.course.name, controller: 'browse_courses', action: 'show', id: item.course.id, type: 'courses' %></li>
		<% end %>
	</ul>
</div>