<div class="container">
	Lijst met vakken die je wilt gaan volgen
	<ul>
		<% @user ||= current_user %>
		<% @user.shopping_cart_items.each do |item| %>
			<li><%= link_to item.course.name, controller: 'browse_courses', action: 'show', id: item.course.id, type: 'courses' %></li>
		<% end %>
	</ul>
	<% if current_user.shopping_cart_items.count > 0 %>
		<%= form_tag({:controller => 'lists', :action => 'create', listtype: 'currently_taking_items'}, method: 'post') do %>
		  <%= button_tag(name: nil, class: 'btn btn-primary') do %>
				<span class="glyphicon glyphicon-check"></span> Check out
		  <% end %>
		<% end %>
	<% end %>
</div>