<div class="container">
	Lijst met vakken die je wilt gaan volgen
	<ul>
		<li>vak dat je wilt volgen</li>
		<li>nog een vak dat je wilt gaan volgen</li>
		<li>en nog een</li>
		<li>en hier nog een</li>
		<li>en een vijfde</li>
	</ul>
</div>